{% extends "base.html" %}

{% block content %}

<h1 style="color:white; text-shadow:3px 3px 6px black;">
    Create Blog Post
</h1>

<div class="card" style="background:white; padding:30px; border-radius:10px;">

<form method="POST">

Title<br>
<input type="text" name="title" style="width:90%; padding:10px; margin:10px;"><br>

Content<br>
<textarea name="content" style="width:90%; padding:10px; margin:10px;"></textarea><br>

<button type="submit" 
        style="padding:10px 20px; background:black; color:white; border:none;">
    Post
</button>

</form>

</div>

{% endblock %}