<!DOCTYPE html>
<html>
<head>
<title>Blog Platform</title>

<style>

body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 120px;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 6px black;
}

p{
    color: yellow;
    font-size: 22px;
}

/* Links styling */
a{
    display: block;
    margin-top: 15px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}

</style>

</head>

<body>

<h1>Welcome to Blog Platform</h1>
<p>This is my first Flask website</p>

<br><br>

<a href="/about">Go to About Page</a>
<a href="/create">Create Post</a>
<a href="/posts">View Posts</a>

</body>
</html>