{% extends "base.html" %}

{% block content %}

<h1 style="color:white; font-size:50px; text-shadow:3px 3px 6px black;">
    Welcome to Blog Platform
</h1>

<p style="color:yellow; font-size:22px;">
    This is my first Flask website
</p>

<br><br>

<a href="/about" style="font-size:22px; color:white; display:block; margin-top:10px;">
    Go to About Page
</a>

<a href="/create" style="font-size:22px; color:white; display:block; margin-top:10px;">
    Create Post
</a>

<a href="/posts" style="font-size:22px; color:white; display:block; margin-top:10px;">
    View Posts
</a>

{% endblock %}