<!DOCTYPE html>
<html>
<head>
<title>Blog Platform</title>

<style>

body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 150px;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 6px black;
}

p{
    color: yellow;
    font-size: 22px;
}

</style>

</head>

<body>

<h1>Welcome to Blog Platform</h1>
<p>This is my first Flask website</p>

</body>
</html>

<br><br>

<a href="/about" style="font-size:22px;color:white;">
Go to About Page
</a>