{% extends "base.html" %}

{% block content %}

<h1 style="color:white; font-size:45px; text-shadow:3px 3px 6px black;">
    User Registration
</h1>

<div class="card" style="width:300px; margin:auto; padding:30px;">

<form method="POST">

{{ form.hidden_tag() }}

{{ form.username.label }}<br>
{{ form.username(class="form-control") }}<br>

{{ form.email.label }}<br>
{{ form.email(class="form-control") }}<br>

{{ form.password.label }}<br>
{{ form.password(class="form-control") }}<br><br>

{{ form.submit(class="btn") }}

</form>

</div>

<a href="/" style="color:white; margin-top:20px; display:block;">
    Go Back Home
</a>

{% endblock %}